<div class="container-fluid  w-100 home">
  <div class="row flex-column-reverse   flex-md-row ">
    <!-- Seção 1 -->
    <div class="col-md-6 d-flex " style="height: 125vh;">
      <section class="w-100   mt-5 h-50 d-column flex-wrap">
        <section class="w-100  h-25 d-flex align-items-start flex-wrap">
          <h3
            class="badge shadow text-wrap pt-3"
            style="width: 75%; height: 3rem; background-color: rgb(218, 18, 18)"
          >
            BUSQUE SEU JOGADOR
          </h3>
          <section class="h-50 d-column w-100">
            <label for="exampleFormControlInput1" class="form-label">Nome</label>
            <input
              [(ngModel)]="nomeJogador"
              type="email"
              class="form-control w-75"
              id="exampleFormControlInput1"
              placeholder="Ex: Neymar Jr."
            />
            <div class="d-flex w-75 justify-content-center">
              <button
                type="button"
                class="btn mt-1 bg-dark text-light btn-sm"
                (click)="buscarplayer()"
              >
                Pesquisar
              </button>
            </div>
          </section>
        </section>
        <section class="w-100 mt-5 h-50 align-items-end d-flex   flex-wrap">
          <h3
            class="badge shadow text-wrap pt-3"
            style="width: 75%; height: 3rem; background-color: rgb(218, 18, 18)"
          >
            INFORMAÇÕES
          </h3>
          <div class="card text-center h-25 w-75">
            <div class="card-header fw-bolder">
              {{ jogador.player[0].strPlayer }}
            </div>
            <div class="card-body">
              <p class="card-text text-start" maxLength="100">
                {{ jogador.player[0].strDescriptionEN }}
              </p>
              <div class="d-column w-100">
                <div class="d-flex pt-5 w-100 justify-content-around">
                  <p
                    class="badge pt-2 text-wrap"
                    style="
                      width: auto;
                      height: 2.5rem;
                      background-color: rgb(218, 18, 18);
                    "
                  >
                    Idade: {{ idade }}
                  </p>
                  <p
                    class="badge pt-2 text-wrap"
                    style="
                      width: 60px;
                      height: 3rem;
                      background-color: rgb(218, 18, 18);
                    "
                  >
                    Peso: {{ jogador.player[0].strWeight }}
                    kg
                  </p>
                  <p
                    class="badge pt-3 text-wrap"
                    style="
                      width: auto;
                      height: 3rem;
                      background-color: rgb(218, 18, 18);
                    "
                  >
                    Altura:
                    {{ jogador.player[0].strHeight }} cm
                  </p>
                  <p
                    class="badge pt-3 text-wrap"
                    style="
                      width: auto;
                      height: 3rem;
                      background-color: rgb(218, 18, 18);
                    "
                  >
                    Nascimento: {{ jogador.player[0].dateBorn }}
                  </p>
                </div>

                <div class="d-flex w-100 justify-content-between">
                  <p
                    class="badge pt-2 text-wrap"
                    style="
                      width: auto;
                      height: 2.5rem;
                      background-color: rgb(218, 18, 18);
                    "
                  >
                    Clube: {{ jogador.player[0].strTeam }}
                  </p>
                  <p
                    class="badge pt-2 text-wrap"
                    style="
                      width: auto;
                      height: 2.5rem;
                      background-color: rgb(218, 18, 18);
                    "
                  >
                    Camisa:
                    {{ jogador.player[0].strNumber }}
                  </p>
                  <p
                    class="badge pt-2 text-wrap"
                    style="
                      width: auto;
                      height: 2.5rem;
                      background-color: rgb(218, 18, 18);
                    "
                  >
                    Posição: {{ jogador.player[0].strPosition }}
                  </p>
                  <p
                    class="badge pt-2 text-wrap"
                    style="
                      width: auto;
                      height: 2.5rem;
                      background-color: rgb(218, 18, 18);
                    "
                  >
                    Nacionalidade: {{ jogador.player[0].strTeam2 }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>    </div>

    <!-- Seção 2 -->
    <div class="col-md-6" style="height: 125vh;">
      <section class="w-50 h-100 d-flex pt-5   justify-content-start">
        <div
          class="card card_player"
          style="width: 50vh; height: 70vh; background-color: #212121"
        >
          <img
            src="{{ jogador.player[0].strCutout || jogador.player[0].strThumb }}"
            class="card-img mt-5 pt-4"
            style="height: auto"
            alt="...">
           <div class="card-img-overlay d-flex flex-column justify-content-between">
             <div class="logo d-flex align-items-end justify-content-end">

            </div>
            <div class="h-75 d-flex w-100 justify-content-center align-items-end">
              <h5 class="badge text-bg-light text-dark fw-bolder"></h5>
            </div>
            <div
              class="d-flex text-light justify-content-center align-items-stretch"
            >

              <h5
                class="badge text-wrap p-3 w-100"
                style="background-color: rgb(20, 20, 20)"
              >
                {{ jogador.player[0].strPosition }},             {{ idade }}


              </h5>

            </div>
          </div>
        </div>
      </section>    </div>
  </div>
</div>
